*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 2rem;
    align-items: center;
    justify-content: space-between;
}

.graph-complete-container{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
}

button{
    background-color: rgb(218, 255, 218);
    color: green;
    padding: 0.225rem 0.5rem;
    border-radius: 5px;
    border: 1px solid rgb(159, 255, 159);
}

.bottom-left-container{
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    column-gap: 1rem;
}


.view-button{
    background-color: #fff;
    color: black;
    border: 1px solid #aaa;
    padding: 0.5rem 1rem;
}

.right-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;
}

.btn2{
    background-color: #f5f5f5;
    color: black;
    border: 1px solid #d3d3d3;
}

.btn3{
    background-color: bisque;
    color: rgb(189, 125, 6);
    border: 1px solid rgb(209, 196, 172);
    padding: 10px auto;
}


